body{
    background: #dee3eb;
    color: #1a1a1a;
    margin: 0;
    min-height: 100vh;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW5M_cK21mrmLqzaLlyqLu6mv7HM09a8LnGg&s") center / cover no-repeat fixed;
    position: relative;
    font-family: Arial, sans-serif;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: #fbf7f7cc;
  z-index: -1;
}
header nav{
    display: flex;
    justify-content: center;
    background-color: #5cb3c4;
    padding: 10px;
    gap: 70px;
}
header nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
header nav a:hover{
    cursor: pointer;
    color: gray;

}
.ha{
    text-align: center;
    
}
h1{
    font-size: 40px;
}
.bi{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 15px;             
    margin-top: 20px;
    

}

main{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.to{
    margin-top: 50px;
    margin-left: 70px;
}
.to h3{
    color: #5cb3c4;
    font-size: 30px;
}
.img{
    border-radius: 30px;
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
    width: 500px;
}
.ji{
    color: #5cb3c4;
    font-size: 40px;
    margin-left: 70px;
}
.si{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 70px;
}
footer p{
    background-color: #5cb3c4;
    margin-bottom: auto;
    padding: 20px;
    text-align: center;
    color: white;
}
